<img src="/images/B40-logo.png"/>
<h3>Start a challenge</h3>
<div>
    <input type="text" id="roomName" placeholder="name" />
    <input type="password" id="password" placeholder="password" />
    <button id="loginButton">Login</button>
</div>
<div>
    <h3>Signup</h3>
    <input type="text" id="signupName" placeholder="name" />
    <input type="password" id="signupPassword" placeholder="password" />
    <button id="signupButton" src="images/next-off.png">Signup</button>
</div>

<script>
var roomName = "";
    $("#loginButton").click(function(){
      // // Check if the room name has been entered already.
      // if (roomName === "") {
      //   var input = $('#loginName');
      //   roomName = input.val();
      //   input.val('');
      // }
        var roomName = $("#roomName").val();
        var password = $("#password").val();
        if (roomName && password) {
            $.post(
                '/openRoom',
                {roomName: roomName, password:password},
                function () {
                    window.location = "/chat";
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
            });
        } else {
            alert("A roomName and password is required");
        }
    });

    $("#signupButton").click(function(){
        var username = $("#signupName").val();
        var password = $("#signupPassword").val();
        if (username && password) {
            $.post(
                '/signup',
                {username: username, password:password},
                function () {
                    window.location = "/chat";
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
            });
        } else {
            alert("A username and password is required");
        }
    });
</script>