<img src="/images/B40-logo.png"/>

<h1 id="startChallenge">Start a challenge</h1>
<div id="loginWrapper">
    <h1>Login</h1>
    <input type="text" id="loginName" placeholder="Name Your Challenge">
    <div id="passwordWrapper">
        <p>Remember your unique password is...</p>
        <input type="text" id="loginPassword" placeholder="password">
        <!-- <button id="refreshPassword">Refresh Password</button> -->
    </div>
    <button id="loginButton">Login</button>
</div>
<script>
    var roomName = "";
    
     $("#loginName").on('input', function(){
         if($(this).val() != ""){
             $("#loginButton").addClass("activeButtonBg");
         }
         else {
             $("#loginButton").removeClass("activeButtonBg");
         }
     });
    
    $("#loginButton").on('click', function(){
      if ($("#loginName").val() != "" && roomName === "") {
        roomName = $("#loginName").val();
        $("#loginName").hide();
        $("#passwordWrapper").show();
        $("#loginPassword").focus();
        // TODO check if room exists and if not then generate password. Also unhide pw refresh btn
      } else {
        var password = $("#loginPassword").val();
        if (roomName && password) {
          $.post(
            '/openRoom',
            {roomName: roomName, password: password},
            function () {
              window.location = "/chat";
            }
          ).fail(function(res){
            alert("Error: " + res.getResponseHeader("error"));
            roomName = "";
            $("#passwordWrapper").hide();
            $("#loginPassword").val('');
            $("#loginName").show();
            $("#loginName").focus();            
          });
        } else {
          alert("A password is required");
        }
      }
      
    });

    $("#loginName").on('keydown', function(e){
      if(e.which == 13 || e.which == 9) {
        $("#loginButton").trigger('click');
        return false;
      }
    });
    
    $("#loginPassword").on('keydown', function(e){
      if(e.which == 13 || e.which == 9) {
        $("#loginButton").trigger('click');
        return false;
      }
    });
</script>