@font-face {
  font-family: LatoRegular;
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: LatoHairline;
  src: url("../fonts/Lato-Hairline.ttf");
}
body {
  font-family: LatoRegular;
  margin-top: 5%;
  text-align: center;
}
body, input {
  color: #333;
}
input {
  font-family: LatoRegular;
  font-size: 1.5em;
}
#signupWrapper {
  display: none;
}
#startChallenge {
  font-family: LatoHairline;
  margin: 50px 0 40px;
}
#loginWrapper h1, #loginPassword {
  display: none;
}
#startChallenge, 
#loginWrapper,
#loginName,
#loginPassword {
  text-transform: uppercase;
}
#passwordWrapper {
  display: none;
  margin: 0 auto;
  position: relative;
  top: -19px;
  width: 100%;
}
#loginName,
#loginPassword {
  background: #eeeeee;
  border: 0;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  height: 90px;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  width: 100%;
}
#loginPassword {
  background: none;
  border: 7px solid #eeeeee;
  display: block;
  margin: 20px auto;
}
#loginButton {
  background: url('../images/next-off.png') no-repeat;
  border: 0;
  display: block;
  height: 100px;
  margin: 40px auto;
  overflow: hidden;
  text-indent: 100px;
  width: 100px;
  white-space: nowrap;
}
#refreshPassword {
  background: url('../images/Pass-refresh.png') no-repeat;
  border: 0;
  display: block;
  height: 60px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  text-indent: 60px;
  top: 55px;
  white-space: nowrap;
  width: 60px;
}
.activeButtonBg {
  background: url('../images/next.png') !important;
}
button:focus, input:focus {
  outline: 0;
}



#chatContainer {
  background:url('../images/timeline.png');
  background-repeat: repeat-y;
  background-position: center;
  text-align: center
}

.dayLabel {
  background: url('../images/Day-numbers.png') no-repeat;
  background-position: center;
  z-index:100;
  position:relative;
  border: 0;
  display: block;
  height: 60px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-family: LatoHairline;
  font-size: 2.5em;
  margin-bottom:-1.5em;
  margin-top:1.5em;
}

.message {
  background: white;
  border: 0.5em;
  border-style: solid;
  border-color: #efefef;

  text-align: center;
/*  display: block;*/
  margin: 1.5em auto;
  padding: 0.5em;
  font-family:LatoHairline;
  font-size:1.5em;
  /*  overflow: hidden;*/
  /*  text-indent: 100px;*/

/*  white-space: nowrap;*/
}

#input {
  position: fixed;
  bottom: 40px;
  left: 0;
  height: 6rem;
  background: #efefef;
  border: 0px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  font-family: LatoHairline;
  font-size:2em;
  line-height: 3rem;
  z-index:150;
}

#postMessageButton {
  position:fixed;
  bottom: 10px;
  right:45%;
  width:120px;
  text-align: center;
  background:#b2b2b2;
  color:#fff;
  -moz-border-radius: 30px;
   -webkit-border-radius: 30px;
   border=radius:2em;
   border: 30px;
   font-family:LatoRegular;
   padding:5px;
  font-size:1.5em;
  z-index:200;
}
.bottomBuffer {
  height: 12rem;
}